
firstform/build.xml
firstform/build/web/gfv3ee6.dpf
firstform/build/web/META-INF/MANIFEST.MF
firstform/build/web/WEB-INF/classes/.netbeans_automatic_build
firstform/build/web/WEB-INF/classes/.netbeans_update_resources
firstform/build/web/WEB-INF/classes/registration.class
*.xml
*.properties
*.MF
