/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 23, 2018, 5:04:03 PM
    Author     : Mark
*/

.tableofcontents td
{
    border: 1px solid;
    padding: 0.25cm;
    text-align: center;
}

.tableofcontents
{
    border: 1px solid;
    width: 50%;
}

.bioparagraphs
{
    width: 50%;
}

#homepage-link
{
    width: 2cm; 
    height: 2cm;
}

